export(interval)
export("%...%")
export("...")
export(intarith)
S3method(print,interval)
S3method("+", interval)
S3method("-", interval)
S3method("*", interval)
S3method("/", interval)
S3method("^", interval)
S3method(exp, interval)
import(rolog)
importFrom(stats, dbinom)
