export(interval)
export("%...%")
export("...")
export(intarith)
S3method(print,interval)
S3method("+", interval)
S3method("-", interval)
S3method("*", interval)
S3method("/", interval)
S3method("^", interval)
S3method(exp, interval)
S3method(sqrt, interval)
export(sqrt0)
S3method(abs, interval)
S3method(round, interval)
export(round2interval)
S3method(sin, interval)
export(pbinom_intarith)
import(rolog)
importFrom(stats, dbinom)
